* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  margin: 0;
  padding: 0;

  background: #030817;
  color: #ffffff;

  overflow-x: hidden;
}

a {
  color: inherit;
}

button,
input,
textarea,
select {
  font: inherit;
}